############################################################
# R and RStudio temporary files
############################################################

.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Renviron
.Rprofile

############################################################
# renv local package library
############################################################

renv/library/
renv/staging/
renv/local/

############################################################
# Raw sequencing data
############################################################

*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai
*.cram
*.crai

############################################################
# Large expression matrices and analysis objects
############################################################

*.rds
*.RDS
*.RData
*.h5
*.hdf5
*.h5ad
*.loom
*.mtx
*.mtx.gz
*.cloupe

############################################################
# Spatial transcriptomics and microscopy images
############################################################

*.tif
*.tiff
*.svs
*.ndpi
*.ome.tif
*.ome.tiff

############################################################
# Archives
############################################################

*.zip
*.tar
*.tar.gz
*.tgz
*.7z

############################################################
# Credentials and private configuration
############################################################

.env
.env.*
credentials/
credentials*
secrets/
private/
config.yml

############################################################
# Operating-system files
############################################################

.DS_Store
Thumbs.db
desktop.ini

############################################################
# Temporary and backup files
############################################################

*.tmp
*.temp
*.bak
*~